#wal -i /home/sourav/wallpapers 
#xwallpaper --stretch "$(< ".cache/wal/wal")" &
exec /home/sourav/distraction_blocker/distraction_blocker.sh > /dev/null  &
dunst &
wal --theme base16-nord
xbindkeys -f ~/.xbindkeysrc &
exec compton &
xinput --set-prop $(xinput list --id-only "ELAN1200:00 04F3:3090 Touchpad") "Device Enabled" 0 &
exec /home/sourav/dwmblocks/daemons/pulse_daemon.sh &
exec dwmblocks & 
exec dwm 
